/* Genel stiller */

html, body {
    height: 100%; 
    margin:0;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid #ddd;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
    text-align: left; 
}


th {
    padding: 10px 15px; 
    background-color: #f4f4f4; 
    border-bottom: 2px solid #ddd; 
    text-align: left; 
}


td {
    padding: 10px 15px; 
    border-bottom: 1px solid #ddd; 
}


tbody tr td:first-child {
    padding-right: 40px; 
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #333;
}


.hidden {
    display: none;
}


.logo {
    font-size: 20px;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 15px;
}

.icon img {
    width: 30px;
    height: 30px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.nav-btn {
    background-color: #c530d8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nav-btn:hover {
    background-color: #9e27a5;
}

/* Content */
.content {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}



.gallery {
    font-size: 16px;
    color: #555;
}

/* Footer */
.footer-loc {
    
    bottom: 0;      
    right: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-top: 2px solid #ddd;
    
}

.contact {
   
    
    height: 200px;
    font-size: 14px;
    background-color: #c530d8;
    bottom: 0;      
    left: 0;
}

/* Modal açıkken bugünkü satırın vurgulanması */
.highlight {
    background-color: rgba(255, 215, 0, 0.4);
    font-weight: bold;
}





/* Slayt kısmı */
.slideshow-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}


.slide {
    display: none; 
    position: relative;
    
}


.slide img {
    width: 90%; 
    height: 10%;
    border-radius: 8px; 
}

/*ok düğmeleri */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    z-index: 1000;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* Geçiş efekti */
.fade {
    animation: fadeEffect 1.1s ease-in-out;
}
.map {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
}

@keyframes fadeEffect {
    from { opacity: 0.23; }
    to { opacity: 1; }
}